{% extends 'layout.html' %}
{% block content %}
{% load static %}

    <section class="service_details_area section_padding">
<div class="section-title">
          <h2>Le Medecin</h2>
</div>
<div class="container-lg">
    <div class="row">
        <div class="col-md-7" style="margin: 5px auto;" >
            <div class="service_details_left">
                <div class="service_details_left_image"><img style="width: 617px; height: 400px" src="{% static 'doc.png'%}"><br>
                    <h1>{{medecin.nom}}  {{medecin.prenom}} </h1>
                </div>
                <div class="container-lg">
                    <p style="font-size: 20px;">Specialite:&nbsp;&nbsp; <b>{{medecin.specialite}}</b></p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock content %}