<!DOCTYPE html>
<html lang="fr">
{% block stylesheets %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Controle Ajana Mehdi Hopital</title>
  <meta content="" name="description">
  <meta content="" name="keywords">



  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
{% load static %}
  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css" rel="stylesheet'%}">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css" rel="stylesheet'%}">
  <link href="{% static 'assets/vendor/venobox/venobox.css" rel="stylesheet'%}">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet'%}">
  <link href="{% static 'assets/vendor/aos/aos.css" rel="stylesheet'%}">
    <link href="{% static 'assets/style.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css'%}" rel="stylesheet">
</head>
{% endblock %}

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="/"><img src="{% static 'assets/hopi.png' %}"/></a></h1>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/">Accueil</a></li>
          <li><a href="/patients/">Patients</a></li>
          <li><a href="/medecins/">Medecins</a></li>
          <li><a href="/rendezvous/">Rendez Vous</a></li>
            <li><a href="/consultations/">Consultations</a></li>

        </ul>
      </nav><!-- .nav-menu -->
      <a href="/admin/" class="get-started-btn scrollto">Espace Admin</a>
    </div>
  </header><!-- End Header -->
  <br>  <br>  <br>